<div class="container">
  <div class="list-header">
    <h1>Мои Дисциплины</h1>
    <button class="create-btn" (click)="createDiscipline()">
      <span class="plus-icon">+</span>
      Создать дисциплину
    </button>
  </div>

  <div class="content-card">
    <div class="doc-item">
      <div class="doc-info">
        <div class="icon-wrapper">📄</div>
        <div class="doc-text">
          <span class="doc-title">Социология</span>
          <span class="doc-subtitle">ID: #0001 | Семестр: 1 | 2026</span>
        </div>
      </div>

      <button
        (click)="openSyllabus(1)"
        [disabled]="isLoading()"
        class="view-btn-modern">
        @if (isLoading()) {
          <span class="loader"></span>
        } @else {
          Просмотреть
        }
      </button>
    </div>

  </div>

  @if (isModalOpen() && selectedSyllabus()) {
    <app-syllabus-modal
      [syllabusData]="selectedSyllabus()!"
      (close)="closeModal()">
    </app-syllabus-modal>
  }
</div>
