<div class="dashboard-container">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <header class="dashboard-header">
    <div class="header-title-zone">
      <h2>Панель согласования силлабусов</h2>
      <p>Роль: <strong>{{ getRoleLabel() }}</strong></p>
    </div>
  </header>

  <nav class="status-tabs">
    <button [class.active]="activeSubTab() === 'active'" (click)="setSubTab('active')">Активные</button>
    <button [class.active]="activeSubTab() === 'fix'" (click)="setSubTab('fix')">На доработке</button>
    <button [class.active]="activeSubTab() === 'completed'" (click)="setSubTab('completed')">Завершенные</button>
  </nav>

  <div class="tasks-table-wrapper card">
    <div *ngIf="isTasksLoading()" class="table-loader">Загрузка...</div>

    <table *ngIf="!isTasksLoading() && tasksList().length > 0" class="custom-table">
      <thead>
      <tr>
        <th>ID Таски</th>
        <th>Процесс</th>
        <th>Управление</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasksList()">
        <td>#{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td style="text-align: center;">

          <button
            *ngIf="activeSubTab() === 'active'"
            class="btn-action approve"
            (click)="openTaskReview(task)">
            Рассмотреть
          </button>

          <button
            *ngIf="activeSubTab() === 'fix'"
            class="btn-action edit"
            (click)="openTaskFix(task)">
            Исправить
          </button>

          <span *ngIf="activeSubTab() === 'completed'">Завершено</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
